.menu {
    background-image: linear-gradient(#336600, #003300);
    position: relative;
    z-index: 99;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.9rem;
}
.menu ul li:hover {
    background-color: white;
}
.menu ul li li:hover {
    background-color: yellow;
    border-bottom: 1px dashed #336600;
}
.menu, .menu a {
    color: #ffcb00;
    text-decoration: none;
}
.menu a {
    display: block;
    white-space: nowrap;
}

.menuDropdown, .menu input[type="checkbox"] {
    display: none;
}
.menu label:hover {
    cursor: pointer;
}
/* narrow styles */
@media screen and (max-width: 1024px) {
    .menu > ul, .menuRighticon {
        display: none;
   }
    input[type="checkbox"]:checked + ul {
        display: block;
        animation: grow 0.5s ease-in-out;
   }
}
/* large styles */
@media screen and (min-width: 1025px) {
    .menu > label, input[type="checkbox"] {
        display: none;
   }
    .menu a {
        padding: 8px 18px;
   }
    .menu > ul > li {
        display: inline-block;
   }
    .menuHasdropdown {
        position: relative;
   }
    .menuHasdropdown:hover > ul {
        display: block;
        animation: grow 0.5s ease-in-out;
   }
    .menuHasdropdown > ul {
        position: absolute;
        top: 100%;
        left: 0;
        background: #ffcb00;
   }
    .menuHasdropdown > ul a {
        color: #336600;
   }
    .menuHasflyout > ul {
        left: 100%;
        top: 0;
   }
    .menuHasflyout .menuDownicon {
        display: none;
   }
}
/* look and feel only, not needed for core menu*/
@keyframes grow {
    0% {
        display: none;
        opacity: 0;
   }
    50% {
        display: block;
        opacity: 0.5;
   }
    100% {
        opacity: 1;
   }
}
html {
    font-size: 100%;
}
body {
    font-family: 'Roboto' sans-serif;
    line-height: 1.5;
}
.menuDropdown a {
    padding: 8px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/* narrow */
@media screen and (max-width: 1024px) {
    .menu > label {
        background: #336600;
        display: block;
        padding: 8px 15px;
        text-align: right;
   }
    .menu a {
        padding: 8px 15px;
   }
    .menu > ul i {
        float: right;
        padding: 5px 10px;
        background: red;
   }
    .menuDropdown a {
        background: #fff;
   }
    .menuHasflyout > ul a {
        background: #fff;
   }
}
@media screen and (min-width: 1025px) {
    .menu {
        max-width: 1024px;
        margin: 0 auto;
   }
}
