/* .playerListLayout {
    background-color: white;
    padding: 1.5rem 0 1.5rem 0;
} */

.playerListLayout h3 {
    color: #336600;
    text-align: center;
    margin-bottom: 1rem;
}

.playerTable {
    width: 88%;
    margin: auto;
    text-align: center;
}

.playerTable a, a:visited {
    color: #336600;
    text-decoration: none;
}

.playerTable a:hover, a:focus {
    color: #ffcb00;
    text-decoration: underline;
}

.playerTable thead {
    background-color: #339900;
    color: white;
    font-size: 0.75rem;
}

.playerTable td {
    font-size: 0.9rem;
    color: #336600;
}